header{
  position: fixed;
  color: white;
  top: 30px;
  left: 20px;
  font-size: 200%;
  font-weight: 900;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background: #222;
font-family: 'Open Sans', sans-serif;
background-image: url('https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80');
font-size: 120%;

}
.card{
  background-color: #333333d0;
  color :white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;;
  margin: 1em;


}
#search {
  display: flex;
  align-items: center;
  justify-content: center;
}
#button{
  border-radius: 50%;
  margin: -49px;;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background:none;
  color: white;
  cursor: pointer;
  transition: 0.2s;

}
/* 
#button:hover{
  background:white;
} */
#text{
  border: none;
  outline: none;
padding: 0.4em, 1em;
border-radius: 24px;
background:#7c7c7c2b;
color: white;
font-family: inherit;
font-size: 105%;
width: 340px;

}
h1.temp{
  margin: 0;
}

#weather{
  text-transform: capitalize;
}

.signature{
  font-size:small ;
  font-weight:400;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
}